h2{
    text-align: center;
    font-size: xx-large;
}

.form {
    margin-left: -15%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 30%;
    flex: auto;
    background-color: white;
    border-radius: 25px;
    display: table;
    position: relative;
    justify-content: center;
}


/* .form-group form {

    padding-bottom: 20px;
    display: table-row;
    width: 100%;
    align-items: start;
}

.form-label form {
    float: left;
    display: table-cell;
}

.form-control form {
    display: table-cell;
    text-align: left;
} */

.button-div form {
    display: table-row;
}

Button form {
    display: table-cell;
    padding: 20px;
    margin: 10px;
}