.post {
    background-image: url(/event.jpeg);
}

.body{
    margin-top: 150px;
    color: white;
}

.name{
    margin-top: 30px;
    /* font-size: 40px; */
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 1.5px;
    line-height: 1.231;
    margin-bottom: 0.6rem;
}

.date{
    text-align: center;
    padding: 10px;
    list-style: none;
    font-size: 1.8rem;
    font-family: 'Brush Script MT';
    font-weight: 300;
    line-height: 1.778;
    margin-left: 0;
    color: white;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.description{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    list-style: none;
    font-size: 2.0rem;
    font-family: 'Antiqua';
    font-weight: 400;
    line-height: 1.778;
    margin-left: 0;
    color: white;
}

.buttons{
    display: flex;
    justify-content: center;
    /* margin-left: 40%;
    margin-right: 40%; */
    padding: 50px;
}

.buttons em {
    padding-left: 50px;
    padding-top: 10px;
    font-size: 20px;
}

.location {
    flex: 0 0 65%;
}
.join {
    flex: 1;
}

button{
    color: white;
    font-family: 'Antiqua';
    font-weight: 500;
    width: 100px;
    height: 80px;
    background-color:  rgba(250, 181, 53, 0.959);
    border: 1px solid rgb(214, 224, 236);
}

.loading {
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 4px;
    margin-top: 20%;
    margin-left: 45%;
    margin-right: 45%;
    padding: 30px 50px;
}