/* .App {
  background-image: url(/Backroung_Home.jpg);
  width: 100%;
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */

footer{
    padding:5px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
}