body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/event.jpeg);
  /* background-image: url(/Home.jpg); */
  width: 100%;
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .foot{
    color:#ffffff;
    background-color:#cac9c9;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
} */
